body{
    background: rgb(107, 107, 241);
    font: normal 15pt Arial;
}
header{
    color: #fff;
    text-align: center;
}
section{
    background: #fff;
    border-radius: 10px;
    width: 500px;
    padding: 15px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
}
footer{
    color: #fff;
    text-align: center;
    font-style: italic;
}